:root {
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
  --brand-colour: #f9f7fe;
  --accent-colour: #6c63ff;
}

h1 {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-size: 64px;
  font-family: var(--primary-font-family);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
.hero {
  background-color: var(--brand-colour);
  padding: 160px 20px;
  text-align: center;
}
.hero h1 {
  line-height: 1.5;
}
.hero h2 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--primary-font-family);
}

.hero p {
  margin: 0px;
  color: #272142;
  font-size: 36px;
  font-weight: bold;
}
.hero a {
  padding: 15px 30px;
  background-color: var(--accent-colour);
  color: #ffff;
  font-size: 18px;
  font-family: var(--secondary-font-family);
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  padding: 15px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#about-button {
  color: var(--accent-colour);
  background: var(--brand-colour);
  border: 1px solid var(--accent-colour);
}
#about-button:hover {
  background: var(--accent-colour);
  color: var(--brand-colour);
  transition: all 0.15s ease-in-out;
}

.about-paragraph {
  margin: 10px;
  line-height: 1.5;
}

.project-description {
  padding: 120px 60px;
}
.project-button {
  color: var(--accent-colour);
  border: 1px solid var(--accent-colour);
  padding: 10px 25px;
  font-size: 18px;
}
.img-fluid {
  height: auto;
  max-width: 100%;
}

.email-link {
  font-family: var(--secondary-font-family);
  color: var(--accent-colour);
  font-size: 24px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

#contact h2 {
  font-weight: bold;
}
#contact a {
  display: block;
  text-align: center;
}
@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero h1 {
    font-size: 54px;
    line-height: 1.5;
  }
  .hero {
    padding: 80px 20px;
  }
  .about-hero h1 {
    font-size: 54px;
    line-height: 1.5;
  }
  .about-hero h3 {
    font-size: 24px;
  }
  .email-link {
    font-size: 18px;
  }
  h2 {
    font-size: 48px;
  }
}
